<Center><bold><span style="color:#ff42a4; font-weight:bold">Lists Data Structure</span></bold></Center>

In [1]:
#Creating empty list
product = []

#Note square brackets [] notifies that datastructure is of Lists Type

In [2]:
product

[]

In [3]:
#Now create lists with content
#Lists can contain values of any data types
#Lists can contain duplicate value

product1 = ["something", 100, 200, [10,20,30], True, 10.25]
product1

['something', 100, 200, [10, 20, 30], True, 10.25]

In [4]:
#Learn indexing
superheros = ["Thor","IronMan", "WonderWoman", "Thanos"]
superheros[0]

'Thor'

In [5]:
superheros[-1]

'Thanos'

In [6]:
#Traversing means accessing/visiting elements 1by1
for myhero in superheros:
    print(myhero)

Thor
IronMan
WonderWoman
Thanos

In [7]:
#Add new items to a list using append() method, it will add to the end
superheros.append("Gamora")
print(superheros)

['Thor', 'IronMan', 'WonderWoman', 'Thanos', 'Gamora']

In [9]:
#Add new item at a desired position it does using insert()
superheros.insert(2,"Cap. America")
print(superheros)

['Thor', 'IronMan', 'Cap. America', 'WonderWoman', 'Thanos', 'Gamora']

In [13]:
#how to add/merge a list into another list
# using extend() method
DC = ["batman","superman","aquaman"]
superheros.extend(DC)
print(superheros)

['Thor', 'IronMan', 'Cap. America', 'WonderWoman', 'Thanos', 'Gamora', 'batman', 'superman', 'aquaman', 'batman', 'superman', 'aquaman', 'batman', 'superman', 'aquaman']

In [14]:
#Remove element using remove()
superheros.remove("Thanos")
print(superheros)

['Thor', 'IronMan', 'Cap. America', 'WonderWoman', 'Gamora', 'batman', 'superman', 'aquaman', 'batman', 'superman', 'aquaman', 'batman', 'superman', 'aquaman']

In [18]:
# removing using del keyword
del superheros[4]
print(superheros)

['Thor', 'IronMan', 'Cap. America', 'WonderWoman', 'superman', 'aquaman', 'batman', 'superman', 'aquaman', 'batman', 'superman', 'aquaman']

In [19]:
# del keyword can be used to remove elements with slicing
del superheros[1:4]
print(superheros)

['Thor', 'superman', 'aquaman', 'batman', 'superman', 'aquaman', 'batman', 'superman', 'aquaman']

In [20]:
superheros1= ["Thor","IronMan", "WonderWoman", "Thanos"]
DC = ["batman","superman","aquaman"]

In [21]:
superheros1.extend(DC)
print(superheros1)

['Thor', 'IronMan', 'WonderWoman', 'Thanos', 'batman', 'superman', 'aquaman']

In [22]:
#pop to remove last element
superheros1.pop()
print(superheros1)

['Thor', 'IronMan', 'WonderWoman', 'Thanos', 'batman', 'superman']

In [23]:
#pop works with indexes also
superheros1.pop(3)
print(superheros1)

['Thor', 'IronMan', 'WonderWoman', 'batman', 'superman']

In [24]:
# List is mutable which means it is alterable
superheros1[0]="God of Thunder"
print(superheros1)

['God of Thunder', 'IronMan', 'WonderWoman', 'batman', 'superman']

In [26]:
# Sorting a list
superheros1.sort()

In [27]:
superheros1

['God of Thunder', 'IronMan', 'WonderWoman', 'batman', 'superman']

In [28]:
#Find elements in the list
'batman'in superheros1

True

In [29]:
'someoneElse' in superheros1

False

In [30]:
#find index of an element
superheros1.index('WonderWoman')

2

In [32]:
superheros1
for hero in superheros1:
    if hero == "IronMan":
        print("Found a superhero")
        break

Found a superhero

In [33]:
# find count of same value in a list
['a','b','c','a','d'].count('a')

2

<Center><bold><span style="color:#ff42a4; font-weight:bold">Tuples Data Structure</span></bold></Center>

In [35]:
#Tuples are known for immutable/read-only nature, no addition/deletion/sorting is allowed
#They are represented by paranthesis ()

Weekdays = ('sun','mon','tue','wed','thur','fri','sat')

In [36]:
Weekdays

('sun', 'mon', 'tue', 'wed', 'thur', 'fri', 'sat')

In [37]:
#Unpacking in Tuples, method of extracting values
Sunday = Weekdays[0]

In [38]:
Sunday

'sun'

In [40]:
sunday,monday,tuesday,wednesday,thursday,friday,saturday= Weekdays
sunday

'sun'

In [41]:
# find length of a tuple
len(Weekdays)

7

In [42]:
len(superheros1)

5

<Center><bold><span style="color:#ff42a4; font-weight:bold">Sets Data Structure</span></bold></Center>

In [46]:
#Sets are represented by {}
#The elements are unique, distinct and case sensitive
#Sets are unordered hence cannot be
#Sets are used for mathematical operations

A = {1,3,5,7,10}
B = {2,4,6,8,10}

#Union
A|B

{1, 2, 3, 4, 5, 6, 7, 8, 10}

In [48]:
#Common values
A&B

{10}

In [49]:
#Difference in two sets
A-B

{1, 3, 5, 7}

In [50]:
B-A

{2, 4, 6, 8}